html,
body {
    margin: 0;
    height: 100%;
    overflow: hidden
}

.hidden {
    display: none;
}

.camera-info {
    width: 1140px;
    height: 540px;
    padding: 30px;
    background-color: rgba(74, 74, 185, 0.39);
}