html,
body {
    margin: 0;
    height: 100%;
    background-color: rgb(0, 0, 0);
    overflow: hidden
}

$grey: rgb(50, 61, 71);
$blue: rgb(37, 123, 157);
.hidden {
    display: none;
}

.unselect {
    user-select: none;
}

.transparent {
    opacity: 0;
    transition: all 1s cubic-bezier(.35, .04, .6, .94);
}


/* width */

::-webkit-scrollbar {
    width: 15px;
}


/* Track */

 ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px $blue;
    border-radius: 5px;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: $grey;
    border-radius: 5px;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: grey;
}