@import "./main.scss";
// .cargo-wrapper {
//     display: inline-block;
//     position: absolute;
//     margin: 10px 10px 0px 40px;
//     width: 480px;
//     height: 550px;
//     background-color: rgba(0, 128, 0, 0.678);
//     overflow: auto;
// }
// .good-wrapper-header {
//     display: inline-block;
//     margin: 10px;
//     margin-top: 20px;
//     width: 460px;
//     height: 60px;
//     background-color: rgba(128, 0, 0, 0.678);
// }
.good-img-slot-header {
    display: inline-block;
    width: 50px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    vertical-align: top;
    margin: 10px;
}

.good-name-slot-header {
    display: inline-block;
    width: 190px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    margin: 10px;
    text-align: center;
    line-height: 40px;
}

.good-quantity-slot-header {
    display: inline-block;
    width: 65px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    margin: 10px;
    text-align: center;
    line-height: 40px;
}

.good-price-slot-header {
    display: inline-block;
    width: 65px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    margin: 10px;
    text-align: center;
    line-height: 40px;
}

.detail-wrapper {
    display: inline-block;
    position: absolute;
    left: 880px;
    margin: 10px 10px 0px 10px;
    width: 290px;
    height: 550px;
    background-color: rgba(0, 128, 0, 0.678);
}

.good-img-slot-detail {
    display: inline-block;
    width: 190px;
    height: 190px;
    background-color: rgb(255, 255, 255);
    vertical-align: top;
    margin: 20px 50px 20px 50px;
}

.good-name-slot-detail {
    display: inline-block;
    width: 250px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    vertical-align: top;
    margin: 0px 20px 0px 20px;
    text-align: center;
    line-height: 50px;
}

.good-desc-slot-detail {
    display: inline-block;
    width: 230px;
    height: 210px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    vertical-align: top;
    margin: 20px 20px 0px 20px;
    text-align: center;
    text-align: left;
    font-size: 20px;
    line-height: 25px;
}